<div class="main-container">
  <div class="main-header">
    <h2 class="header-title">À propos</h2>
  </div>
  <div class="main-content">
    <div class="introduction-block">
      <img src="./assets/images/appLogo.png" alt="logo REsources Relationnelles">
      <div class="paragraphs-container">
        <p>FaceGouv est une application qui vous permettra de vous connecter avec des gens proches de vous, et de partager ou de créer des ressources afin d'intéragir avec d'autres personnes</p>
      </div>
    </div>
  </div>
</div>
