@import "src/assets/styles/00-settings/settings";

$color-comment: $color-green-blue;
$color-answer: $color-blue;

.comments-form {
  padding: 0;

  .comments-input-text {
    border: 1px solid $color-comment;
    padding: 10px 20px;
    transition: .3s;
    color: $color-comment;

    &::placeholder {
      color: rgba($color-comment, .6);
    }

    &:focus {
      background-color: rgba($color-comment, .2);
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;

    .comments-input-submit {
      border: 1px solid $color-comment;
      margin: 0;
      padding: 10px 50px;
      color: $color-comment;
      transition: .3s;

      &:hover {
        background-color: rgba($color-comment, .2);
      }
    }
  }

  &.is-answer {
    .comments-input-text {
      margin-left: 50px;
      color: $color-answer;
      border: 1px solid $color-answer;

      &::placeholder {
        color: rgba($color-answer, .6);
      }

      &:focus {
        background-color: rgba($color-answer, .2);
      }
    }

    .button-wrapper {

      .comments-input-submit {
        border: 1px solid $color-answer;
        color: $color-answer;

        &:hover {
          background-color: rgba($color-answer, .2);
        }
      }
    }
  }
}
