@import "src/assets/styles/00-settings/settings";

.main-header {
  display: grid !important;
  align-items: center;
  grid-template: auto auto / auto 1fr auto;

  .header-image {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 10px;
    $size: 50px;
    height: $size;
    width: $size;
  }

  .header-title {
    grid-column: 2;
  }

  .header-name {
    grid-column: 2;
  }

  .header-tools {
    grid-column: 3;
    grid-row: 1 / span 2;

    .tools-button {
      padding: 0 10px;
      transition: $default-delay;

      &:hover {
        transform: scale(1.15);
      }

      .button-icon {
        font-size: 22px;

        &.star {
          color: $color-yellow-dark;
        }

        &.like {
          color: $color-green-blue;
        }

        &.share {
          color: $color-brown;
        }

        &.eye {
          color: $color-black;
        }
      }

      .icon-counter {
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

.main-content {
  .content-resource {
    width: 100%;

    .resource-picture {
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: center;
      background-image: $background-image-default;
      border-radius: $default-radius;
    }

    .resource-description {
      margin: 20px 0;
      text-align: justify;
    }
  }

  .content-comments {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba($color-blue, .1);

    app-comment-form {
      width: 100%;
    }

    .comments-list {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: $M) {

  .main-container {
    grid-template-rows: 100px calc(100vh - 100px - 60px) !important;

    .main-header {
      display: grid;
      height: auto;
      padding: 10px;
      grid-template: auto auto/ auto 1fr;
      align-items: center;
      justify-content: center;

      .header-image {
        grid-column: 1;
        grid-row: 1;
        margin: auto;
      }

      .header-title {
        grid-row: 1;
        grid-column: 2;
      }

      .header-name {
        grid-row: 2;
        grid-column: 1;
      }

      .header-tools {
        grid-row: 2;
        grid-column: 2;
      }
    }

    .main-content {
      padding: 5px !important;

      .content-resource {
        width: 100%;
      }

      .content-comments {
        padding: 5px;
      }
    }
  }
}
