@import "src/assets/styles/00-settings/settings";

.c-header {
  $borderHeight: 1px;
  display: grid;
  grid-template: 100% / 1fr auto;
  align-items: center;
  height: calc(100% - #{$borderHeight});
  padding: 0 30px;
  white-space: nowrap;
  border-bottom: solid $borderHeight $color-border;
  background-color: $color-background-secondary;

  .logo {
    grid-column: 1;
    color: $color-white;
    margin: 0;
  }

  .right-side {
    grid-column: 2;
    display: flex;
  }

  #button-collapse-navbar {
    display: none;
  }

  .header-button {
    transition: .3s;
    padding: 10px;

    .icon {
      font-size: 20px;
      color: $color-link-inactive;
    }

    &:hover {

      .icon {
        color: $color-link-active;
      }
    }
  }
}

@media screen and (max-width: $M) {
  .c-header {
    padding: 0 10px;

    #button-collapse-navbar {
      display: block;
    }
  }
}
