<header class="c-header">
  <h1 class="logo">FaceGouv</h1>
  <div class="right-side">
    <button *ngIf="authService?.user?.userStateId >= 3" class="header-button" (click)="open()" title="Conversations">
      <i class="fas fa-envelope icon"></i>
    </button>
    <button class="header-button" [ngbPopover]="popProfile" placement="bottom-right" container="body" title="Profil">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
    </button>
    <ng-template #popProfile>
      <app-profile></app-profile>
    </ng-template>
    <button id="button-collapse-navbar" class="header-button" (click)="toggleNavbar()">
      <fa-icon class="icon" [icon]="faBars"></fa-icon>
    </button>
  </div>
</header>
