.btn {
  padding: 10px 25px;
  background-color: $color-background-secondary;
  color: $color-background-primary;
  border-radius: 5px;
  transition: .3s;
  font-weight: 500;
  border: solid 2px;

  &.succes {
    background-color: $color-green;

    &:hover {
      background-color: $color-background-primary;
      color: $color-green;
      border-color: $color-green;
    }
  }

  &.warning {
    background-color: $color-yellow-dark;

    &:hover {
      background-color: $color-background-primary;
      color: $color-yellow-dark;
      border-color: $color-yellow-dark;
    }
  }

  &.error {
    background-color: $color-red;

    &:hover {
      background-color: $color-background-primary;
      color: $color-red;
      border-color: $color-red;
    }
  }

  &:hover {
    background-color: $color-background-primary;
    color: $color-background-secondary;
  }
}
