<div class="user-card item">
  <div class="card-content">
    <div class="content-image profile-picture-circle" style="background-image: url('{{global.apiUrl}}{{user.profilePicture}}')"></div>
  </div>
  <div class="card-footer">
    <p class="footer-text">{{user.firstName}} {{user.lastName}}</p>
    <div class="footer-tools">
      <button class="tools-btn btn" *ngIf="friendState === 0" (click)="addFriend(user.id)">Ajouter</button>
      <button class="tools-btn btn success" title="Confirmer" (click)="confirmFriend(relation.id)" *ngIf="friendState === 1 && relation?.SenderId === this.user.id"><i class="fas fa-check icon"></i></button>
      <button class="tools-btn btn error" title="Rejeter" (click)="deleteFriend(relation.id)" *ngIf="friendState === 1 && relation?.SenderId === this.user.id"><i class="fas fa-times icon"></i></button>
      <span class="tools-btn btn warning" *ngIf="friendState === 1 && relation?.SenderId !== this.user.id">En attente</span>
      <button class="tools-btn btn error" (click)="deleteFriend(relation.id)" *ngIf="friendState === 2">Supprimer</button>
    </div>
  </div>
</div>
