<div class="main-container">
  <div class="main-header">
    <h2 class="header-title">Inscription</h2>
  </div>
  <div class="main-content">
    <div class="o-form">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput required id="input-firstname" class="input-text" type="text" name="firstName" [(ngModel)]="user.firstName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput required id="input-lastname" class="input-text" type="text" name="lastName" [(ngModel)]="user.lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput required id="input-age" class="input-text" type="number" name="age" [(ngModel)]="user.age">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput required id="input-email" class="input-text" type="email" name="email" [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput required id="input-password" class="input-text" type="password" name="password" [(ngModel)]="user.password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmez mot de passe</mat-label>
        <input matInput required id="input-confirmPassword" class="input-text" type="password" name="confirmPassword" [(ngModel)]="confirmPassword">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput required id="input-tel" class="input-text" type="tel" name="tel" [(ngModel)]="user.tel">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code postal</mat-label>
        <input matInput required id="input-postalCode" class="input-text" type="text" name="postalCode" [(ngModel)]="user.postalCode">
      </mat-form-field>
      <button class="btn" type="submit" mat-raised-button (click)="signIn()">Inscription</button>
      <mat-card-actions class="form-footer">
        <button class="btn" mat-button routerLink="/login">Connexion</button>
      </mat-card-actions>
    </div>
  </div>
</div>

