<div class="main-container">
  <div class="main-header">
    <h2 class="header-title">Ajouter une ressource</h2>
  </div>
  <div class="main-content">
    <div class="o-form">
      <mat-form-field appearance="fill">
        <mat-label>Titre</mat-label>
        <input matInput required name="title" [(ngModel)]="newResource.title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput required rows="4" name="description" [(ngModel)]="newResource.description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Catégorie de la ressource</mat-label>
        <mat-select name="category" [(ngModel)]="newResource.category">
          <mat-option *ngFor="let category of categories" [value]="category.type">
            {{category.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="event-form" *ngIf="newResource.category === 'Événement'">
        <mat-form-field appearance="fill">
          <mat-label>Date de votre événement</mat-label>
          <input matInput [matDatepicker]="picker" name="eventDate" [(ngModel)]="newResource.eventDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Lieu de l'événement</mat-label>
          <input matInput name="eventPlace" [(ngModel)]="newResource.eventPlace">
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Importer une image</mat-label>
        <ngx-mat-file-input accept="image/x-png,image/gif,image/jpeg"
                            (change)="uploadFile($event)"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <button class="btn" type="submit" (click)="submitResource()">Ajouter ma ressource</button>
    </div>
  </div>
</div>
