<div class="profile-wrapper">
  <div class="profile-container">
    <div class="profile-header profile-section" *ngIf="user">
      <div class="header-picture profile-picture-circle" style="background-image: url('{{global.apiUrl}}{{user?.profilePicture}}')"></div>
      <h3 class="header-title">{{user?.firstName}}</h3>
    </div>
    <div class="profile-body profile-section" *ngIf="user">
      <a class="wrapper-link" routerLink="add-friends" >
        <app-button-circle [icon]="faUserPlus"></app-button-circle>
        <span>Ajouter un ami</span>
      </a>
      <a class="wrapper-link" routerLink="friends">
        <app-button-circle [icon]="faUsers"></app-button-circle>
        <span>Mes amis</span>
      </a>
      <a class="wrapper-link" routerLink="profile/edit-account">
        <app-button-circle [icon]="faUserEdit"></app-button-circle>
        <span>Modifier mes informations</span>
      </a>
      <a class="wrapper-link" routerLink="profile/edit-password">
        <app-button-circle [icon]="faUnlock"></app-button-circle>
        <span>Modifier mon mot de passe</span>
      </a>
    </div>
    <div class="profile-footer profile-section">
      <a class="wrapper-link" (click)="logout()" *ngIf="user">
        <app-button-circle [icon]="faSignOutAlt"></app-button-circle>
        <span>Déconnexion</span>
      </a>
      <a class="wrapper-link"  routerLink="login" *ngIf="!user">
        <app-button-circle [icon]="faSignOutAlt"></app-button-circle>
        <span>Connexion</span>
      </a>
    </div>
  </div>
</div>
