@import "../../../assets/styles/00-settings/settings";

.conversation {
  min-width: 300px;
  margin: 0 20px;
  border: 2px solid $color-background-secondary;
  border-bottom: none;
  box-shadow: $default-shadow;
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
  background-color: white;
  z-index: 100;
  position: relative;

  &.is-deployed {
    .conversation-content {
      height: 250px;
      overflow-y: auto;


    }

    .conversation-footer {
      height: auto;
    }
  }

  .conversation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-background-secondary;
    color: white;
    cursor: pointer;
    font-weight: 500;

    .header-title {
      flex: 1;
      padding: 10px;
    }

    .icon {
      color: white;
    }

    .notification {
      color: $color-red;
      animation: 1s linear 0s infinite alternate blink;
      margin-left: 25px;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .conversation-content {
    height: 0;

    .content-messages {
      .item-message {

        margin: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: column;

        &.is-self {
          text-align: end;

          .message-text {
            background-color: rgba($color-blue, .3);
          }
        }

        .message-name {

        }

        .message-text {
          padding: 5px 10px;
          background-color: rgba($color-green, .3);
          border-radius: $default-radius;
        }
      }
    }
  }

  .conversation-footer {
    border-top: 1px solid black;
    color: white;
    font-weight: 500;
    height: 0;
    background-color: $color-background-secondary;

    .footer-input {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      .input-text {
        grid-column: 1;
        width: auto;
      }

      .input-submit {
        grid-column: 2;
        padding: 0 10px;
        cursor: pointer;
      }

      input {
        cursor: text;
        margin: 5px 0;
      }
    }
  }

}
