@import "../00-settings/settings";

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  color: $color-link-active;
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: $color-link-inactive;
  }

  &:active {
    color: $color-link-active;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    .icon {
      transform: scale(1.2);
    }
  }

  .icon {
    transition: $default-delay;
  }
}

p {
  text-align: justify;
}

input {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &::placeholder {
    color: $color-link-inactive;
  }
}

form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  $marginY: 20px;

  input {
    color: $color-link-active;
    margin: $marginY 0;
    background-color: inherit;
    border: none;

    &.input-text {
      border-bottom: 1px solid white;
      padding: 5px;

      &:focus {
        border: 1px solid white;
      }
    }

    ::placeholder {
      color: $color-link-inactive;
    }

    &.button-submit {
      width: 80%;
      border: 1px solid white;
      margin: $marginY auto;
      padding: 5px 20px;
      transition: .3s;
      border-radius: 5px;

      &:hover {
        color: $color-background-secondary;
        background-color: white;
      }
    }
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

