<div class="main-container">
  <div class="main-content">
    <div class="o-form">
      <label for="file" class="user-picture profile-picture-circle edit-picture"
             style="background-image: url('{{global.apiUrl}}{{user?.profilePicture}}')"></label>
      <input id="file" type="file" hidden accept="image/png, image/jpeg" (change)="uploadFile($event)">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput required id="input-firstname" class="input-text" type="text" name="firstName"
               [(ngModel)]="user.firstName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput required id="input-lastname" class="input-text" type="text" name="lastName"
               [(ngModel)]="user.lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput required id="input-age" class="input-text" type="number" name="age" [(ngModel)]="user.age">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput required id="input-email" class="input-text" type="email" name="email" [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput required id="input-tel" class="input-text" type="tel" name="tel" [(ngModel)]="user.tel">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code postal</mat-label>
        <input matInput required id="input-postalCode" class="input-text" type="text" name="postalCode"
               [(ngModel)]="user.postalCode">
      </mat-form-field>
      <mat-card-actions class="form-footer">
        <button class="btn" type="submit" mat-raised-button (click)="editAccount()">Valider</button>
      </mat-card-actions>
    </div>
  </div>
</div>
