@import "src/assets/styles/00-settings/settings";

.main-content {
  display: flex;
  justify-content: center;
}

.user-picture {
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;

  &:hover {
    &:after {
      display: block;
    }
  }


  &:after {
    display: none;
    content: "Modifier mon image";
    position: absolute;
    top: 50%;
    font: {
      size: 16px;
      weight: 500;
    };
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    padding: 5px 10px;
    background-color: rgba(white, .7);
    border-radius: $default-radius;
  }
}

.edit-picture {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: $M) {
  .main-content {
    grid-template: auto auto / 100%;
    overflow-y: auto !important;

    .form {
      padding: 0;
      height: auto;
    }
  }
}
