<div class="main-container">
  <div class="main-header">
    <h2 class="header-title">Accueil</h2>
  </div>
  <app-resources-gallery class="main-content o-gallery" [resources]="resources"></app-resources-gallery>
  <button *ngIf="authService?.user?.userStateId >= 3" routerLink="/add-resource" class="button-add" title="Ajouter une ressource">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
