@import "src/assets/styles/00-settings/settings";

.button-add {
  $position: 25px;
  position: fixed;
  bottom: $position;
  right: $position;
  background-color: $color-background-secondary;
  border-radius: 50%;
  color: $color-background-primary;
  $size: 60px;
  width: $size;
  height: $size;
  font-size: 24px;
  transition: .3s;
  border: 1px solid $color-border;

  &:hover {
    transform: scale(1.05);
  }
}
