@import "./src/assets/styles/00-settings/settings";

.c-navbar {
  background-color: $color-background-secondary;
  transition: .3s;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  &.deployed {
    width: 200px;

    .side-wrapper {
      margin-top: 20px;

      .wrapper-links {
        margin-top: 14px;
      }
    }

    fa-icon {
      margin-right: 16px;
    }

    span:not(.header-title) {
      display: block
    }

    .header-title {
      visibility: collapse;
    }
  }

  .container-side {
    grid-row: 1;
    overflow-y: auto;
  }

  .side-wrapper {
    border-bottom: 1px solid $color-border;

    &.reverse-border {
      border-top: 1px solid $color-border;
      border-bottom: none;
      grid-row: 2;

      .wrapper-links {
        margin-top: 0 !important;
      }
    }

    .wrapper-title {
      margin: {
        left: 16px;
      }
      color: $color-link-inactive;
    }

    .wrapper-links {
      white-space: nowrap;

      a {
        color: $color-link-active;
        display: grid;
        grid-template-columns: 40px auto;
        text-decoration: none;
        align-items: center;
        font: {
          weight: 400;
          size: 14px;
        }
        transition: .3s;
        padding: 16px 16px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &.active-link {
          background-color: $color-orange;
        }

        fa-icon {
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }

  span {
    display: none;
  }
}

@media screen and (max-width: $M) {
  .c-navbar {
    overflow: hidden;
    position: fixed;
    right: 100%;
    z-index: 10;

    &.deployed {
      width: 75vw !important;
      right: auto;
    }

    #wrapper-deployer-navbar {
      display: none;
    }
  }
}
