<div class="main-container" *ngIf="userState >= 5">
  <div class="main-header">
    <h2 class="header-title">Administration des ressources</h2>
  </div>
  <div class="main-content o-table">
    <mat-form-field>
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie </th>
          <td mat-cell *matCellDef="let row">{{row.ResourceCategoryId | resourceCategoryPipe}}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> État </th>
          <td [style.color]="getColor(row.ResourceStateId)" class="pointer" (click)="showDialog(row)"
              mat-cell *matCellDef="let row">{{row.ResourceStateId | resourceStatePipe}}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
          <td mat-cell *matCellDef="let row">{{row.title | titlecase}}</td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Crée par </th>
          <td mat-cell *matCellDef="let row">{{row.User.firstName}} {{row.User.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Crée le </th>
          <td mat-cell *matCellDef="let row">{{row.createdAt | date :'d/MM/yyyy'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Aucune donnée à afficher</td>
        </tr>
      </table>

      <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
<app-not-allowed *ngIf="userState <= 4"></app-not-allowed>
