<div class="popup-share">
  <div class="popup-wrapper">
    <div class="popup-container">
      <div class="popup-header">
        <h4 class="header-title">Partager avec..</h4>
        <button class="popup-btn-close" (click)="closePopup()"><i class="fas fa-times icon"></i></button>
      </div>
      <div class="popup-content">
        <mat-spinner style="margin: auto" diameter="50" *ngIf="!friends"></mat-spinner>
        <div class="popup-user item" [ngClass]="{'is-selected':isSelected(getOtherUserInFriend(friend))}" *ngFor="let friend of friends" (click)="addUser(getOtherUserInFriend(friend))">
          <div class="user-picture profile-picture-circle" style="background-image: url('{{global.apiUrl}}{{getOtherUserInFriend(friend).profilePicture}}')"><!--{{getOtherUserInFriend(friend).profilePicture}}--></div>
          <span class="user-name">{{getOtherUserInFriend(friend).firstName}} {{getOtherUserInFriend(friend).lastName}}</span>
        </div>
      </div>
      <div class="popup-footer">
        <button class="content-btn-share btn" (click)="share()">Partager</button>
      </div>
    </div>
  </div>
</div>
